@media (min-width: 42em) {
  .s-content {
    margin-left: 4em;
  }
}
@media (min-width: 68em) {
  .s-content {
    margin-left: 15em;
  }
}
.nama-sekolah {
  width: 170px;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}