* {
    margin: 0;
    padding: 0;
}
.form-irv {
    background-image: linear-gradient(to left, #0c0c18, #10316b);
    height: 100%;
    padding: 15%;
    width: 100%;
}
.imput {
   
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 229, 236);
    padding: 20px;
    border-radius: 15px;
    
}
.relative {
    margin-bottom: 5px;
}