* {
    margin: 0;
    padding: 0;
}
.form-irv {
    background-image: linear-gradient(to left, #10316b, #0b409c);
    height: 100vh;
    padding: 15%;
    color: #f2f7ff;
}
.imput {
    display: flex;
    justify-content: center;
    align-items: center;
}
.relative {
    margin-bottom: 5px;
}