.list-item {
  list-style-type: none;
}
.list-item:hover {
  background-color: rgb(57, 57, 238);
  cursor: pointer;
}
.list-item.focused {
  background-color: #f2f7ff;
  outline: 1px solid #000;
}
.list-item.active {
  background-color: #000;
  color: rgb(57, 57, 238);
}
div#schoolList {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .responsive-button {
    /* Ganti properti CSS sesuai kebutuhan */
    font-size: 16px;
    padding: 12px 24px;
  }
}

/* Untuk tampilan mobile */
@media screen and (max-width: 767px) {
  .responsive-button {
    /* Ganti properti CSS sesuai kebutuhan */
    font-size: 14px;
    padding: 10px 20px;
  }
}